
body{
  margin: 0;
  padding: 0;
  background-image: url('./assets/bg-1.svg');
  background-size: 100%;
}

.landing-image{
  /* background-position: bottom; */
  background-image: url('./assets/img-1.svg');
}